 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ever since the first computer my uncle gave me (his old Intel 286 with an EGA video card) when I was 10 years old, I have surrounded my life with computers, gadgets, home automation tech, and anything that changes the way we work and live. After spending over a decade in IT, technical writing and project management, I’m looking to tackle a new challenge as an iOS developer. </p>
                </div>
                <div class="col-lg-4">
                    <p>Over the last two years, I have learned the ins-and-outs of Swift, Apple’s preferred programming language for developing in iOS. I love its simplicity (no more semicolons!) but also its intricacies (tuples and generics) that makes it so versatile. When I’m not programming, I’m practicing mindfulness meditation, shooting landscape photography, and spending time with my family. </p>
                </div>
            </div>
        </div>
    </section>